/* index.css */

/* CSS Reset to remove browser-specific styles */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Set default styles for the root element */
html, body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(
      145deg, 
      rgba(13, 104, 134, 0.4) 0%,  /* Light blue */
      rgba(7, 50, 87, 0.2) 50%, /* Softer white-blue */
      #381515 100%                /* Original base color */
  ), 
  #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0 0 1rem 0;
}

ul, ol {
  margin: 0 0 1rem 0;
  padding-left: 1.25rem;
}



/* Utility classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


